<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>Admin</title>
    <link
      rel="icon"
      href="img/favicon_new.png"
      type="image/png"
      sizes="16x16"
    />

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/dashboard/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="css/admin.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 admin_nav">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Project Annex</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block admin_sidebar sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="home"></span>
                  Yearwise Distribution
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Schoolwise Distribution
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Majorwise Distribution
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="mb-3 border-bottom">
            <h1 class="h2">YearWise Distribution</h1>
          </div>

          <!--<div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">YearWise Distribution</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>-->
          <form>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">Year</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">Semester Name</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Autumn(Fall)</option>
                    <option>Spring</option>
                    <option>Summer</option>
                  </select>
                </div>
                <div class="col-sm">
                  <button
                    style="margin-top: 30px;"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>

          <!--School wise distribution-->
          <div class="mb-3 border-bottom">
            <h1 class="h2">Schoolwise Distribution</h1>
          </div>
          <form>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">Year Span</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Current Year</option>
                    <option>Last 1 year</option>
                    <option>Last 2 year</option>
                    <option>Last 3 year</option>
                  </select>
                </div>
                <div class="col-sm">
                  <button
                    style="margin-top: 30px;"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
          <!--Major Wise distribution-->
          <div class="mb-3 border-bottom">
            <h1 class="h2">Majorwise Distribution</h1>
          </div>
          <form>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">Year Span</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Current Year</option>
                    <option>Last 1 year</option>
                    <option>Last 2 year</option>
                    <option>Last 3 year</option>
                  </select>
                </div>
                <div class="col-sm">
                  <button
                    style="margin-top: 30px;"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace();
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday"
          ],
          datasets: [
            {
              data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
              lineTension: 0,
              backgroundColor: "transparent",
              borderColor: "#007bff",
              borderWidth: 4,
              pointBackgroundColor: "#007bff"
            }
          ]
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: false
                }
              }
            ]
          },
          legend: {
            display: false
          }
        }
      });
    </script>
  </body>
</html>
