<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin</title>
    <link
      rel="icon"
      href="img/favicon_new.png"
      type="image/png"
      sizes="16x16"
    />

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/dashboard/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="css/admin.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 admin_nav">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Project Annex</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block admin_sidebar sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="home"></span>
                  Yearwise Distribution
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Schoolwise Distribution
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Majorwise Distribution
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="mb-3 border-bottom">
            <h1 class="h2">Semester Wise Distribution</h1>
          </div>

          <!--<div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">YearWise Distribution</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>-->
          <form>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">Start Year</label>
                  <select class="form-control" id="strYear_sem">
                    <option value="null" disabled selected>Select Year</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">End Year</label>
                  <select class="form-control" id="endYear_sem">
                    <option value="null" disabled selected>Select Year</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                  </select>
                </div>
                <!--<button type="submit"> will refresh the page
                <button type="button"> won't refresh the page
                -->
                <div class="col-sm">
                  <button
                    id="semSubmit"
                    style="margin-top: 30px;"
                    type="button"
                    class="btn btn-primary"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="pie-chart-container">
            <canvas id="yearChart"></canvas>
          </div>

          <!--School wise distribution-->
          <div class="mb-3 border-bottom">
            <h1 class="h2">School Wise Distribution</h1>
          </div>
          <form>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">Start Year</label>
                  <select class="form-control" id="strYear_school">
                    <option value="null" disabled selected>Select Year</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">End Year</label>
                  <select class="form-control" id="endYear_school">
                    <option value="null" disabled selected>Select Year</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                  </select>
                </div>
                <div class="col-sm">
                  <button
                    style="margin-top: 30px;"
                    id="schoolSubmit"
                    type="button"
                    class="btn btn-primary"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="pie-chart-container">
            <canvas id="SchoolChart"></canvas>
          </div>

          <!--Major Wise distribution-->
          <div class="mb-3 border-bottom">
            <h1 class="h2">Major Wise Distribution</h1>
          </div>
          <form>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">Start Year</label>
                  <select class="form-control" id="strYear_major">
                    <option value="null" disabled selected>Select Year</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">Year Span</label>
                  <select class="form-control" id="endYear_major">
                    <option value="null" disabled selected>Select Year</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="exampleFormControlSelect1">School</label>
                  <select class="form-control" id="slt_school">
                    <option value="null" disabled selected
                      >Select School</option
                    >
                    <option>SoB</option>
                    <option>SLS</option>
                    <option>SLASS</option>
                    <option>SESM</option>
                    <option>SECS</option>
                  </select>
                </div>
                <div class="col-sm">
                  <button
                    style="margin-top: 30px;"
                    id="majorSubmit"
                    type="button"
                    class="btn btn-primary"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="pie-chart-container">
            <canvas id="majorChart"></canvas>
          </div>
          <div class="form-group">
            <!--<label for="comment">Comment:</label>
            <textarea
              class="form-control"
              rows="5"
              id="majorComment"
            ></textarea>-->
            <button
              style="margin-top: 30px;"
              id="generateReport"
              type="button"
              class="btn btn-primary"
            >
              Generate Report
            </button>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <!--my script-->
    <script type="text/javascript" src="js/admin.js"></script>
  </body>
</html>
